<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Home</title>
    <link href="" rel="stylesheet" th:href="@{css/main.css}"/>
</head>
<body>
<div th:class="header-container" th:include="nav"></div>
<div class="content-container">
    <main class="post-list">
        <div class="post" th:each="post : ${posts}">
            <img alt="" src="" th:src="@{assets/article-image-hero.png}"/>
            <div class="post-info">
                <p class="date"
                   th:text="${post.getDateCreate()}">JULY 23,
                    2022</p>
                <a href="#" th:href="@{/read/{id}(id=${post.getId()})}">
                    <h1 class="title" th:text="${post.getTitle()}">My new journey as a bootcamp student.</h1>
                    <p class="description" th:text="${post.getDescription()}">
                        After several months of learning in the Frontend Developer
                        Career Path, I've made the big jump over to the Bootcamp to get
                        expert code reviews of my Solo Projects and meet like-minded
                        peers.
                    </p>
                </a>
            </div>
        </div>

    </main>
</div>
<div th:class="footer-container" th:include="footer"></div>
</body>
</html>
